<html>

<head>
    <style>
        .nav_bar a {
            text-decoration: none;
            color: black;
        }

        .Home_left {
            float: left;
            padding: 3%;
        }

        .Home_right {
            float: right;
            padding: 3%;
        }
    </style>

</head>

<body>
    <div class="nav_bar">
        <nav>
            <a href="./" class="Home_left">Home</a>
            <a href="./eventRegister" class="Home_left">Register Events</a>
            <a href="./booking">Book Event</a>
        </nav>
    </div>
    <div>
        <h1>
            <%= event %>
        </h1>
    </div>
</body>

</html>